@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-very-light-blue: #eff0ff;
    --clr-dark-blue: #535adf;
    --clr-text: #5a5b7e;
    --clr-header-text: #525475;
    --clr-line: #f4f4ff;

}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--clr-text);
}
img {
    max-width: 100%;
}
ul {
    list-style-type: none;
}
.wrapper {
    width: 95%;
    margin: 0 auto;
}
header {
    border-bottom: 1px solid #f4f4ff;
}

nav {
    display: flex;
    align-items: center;

}
.nav-brand {
    display: flex;
    align-items: center;
}
.sun {
    width: 40px;
}
.company-name {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--clr-header-text);
    margin-left: 0.5rem;
}
.nav-bar{
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-left: auto;
    width: 82.2%;
    border-left: 1px solid var(--clr-line);
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}
.nav-bar_search {
    padding-left: 2rem;
    width: 60%;
    position: relative;
}
.fa-search{
    position: absolute;
    top: 7px;
    left: 45px;
    color: #a5a8d0;
}
.nav-bar_search > input {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: none;
    padding-left: 2.5rem;
    background-color: var(--clr-very-light-blue);
    font-size: 0.9rem;
    color: #a5a8d0;
}
.nav-bar_search > input::placeholder {
    font-size: 0.9rem;
    color: #a5a8d0;
}
.nav-bar_search > input:focus{
    outline: none;
}
.nav-profile{
    display: flex;
    align-items: center;
}
.nav-profile > img {
    margin: 0 1rem;
}
.profile-picture {
    border-radius: 100%;
    width: 35px;
    cursor: pointer;
}

/* main page */

main {
    display: flex;
}

/* aside */
aside {
    border-right: 1px solid var(--clr-line);        
    width: 18%;
}
section {
    padding: 3.5rem 2.3rem 0 2.3rem;
    width: 82%;
}
.nav-container {
    padding: 2.5rem 0;
    border-right: 1px solid var(--clr-line);      
    border-bottom: 1px solid var(--clr-line)      

}
.nav-item {
    display: flex;
    padding: 1rem 0;
    cursor: pointer;
}
.nav-item i {
    font-size: 1.4rem;
}
.nav-item > div {
    width: 25px;
}
.nav-item > p {
    margin-left: 1rem;
}
.nav-item:hover *, .nav-item-1 {
    color: var(--clr-dark-blue);
}

.ratings-container{
    padding-top: 2.5rem;
    padding-right: 2rem;
}
.ratings-header, .ratings-header_title{
    display: flex;
    align-items: center;
}
.ratings-header{
    justify-content: space-between;
}
.ratings-header_title > p {
    margin-left: 1rem;
}
.fa-book, .fa-long-arrow-right {
    font-size: 1.4rem;
    color: var(--clr-dark-blue);
}
.ratings-category{
    padding-top: 2rem;
}
.ratings-bar {
    background-color: #dbdcec;
    margin: 1rem 0;
    width: 100%;
    height: 5px;
    border-radius: 3px;
}
.ratings-bar_filler{
    background-color: var(--clr-dark-blue);
    height: 100%;
}

.filler1 {
    width: 80%;
}
.filler2 {
    width: 60%;
}
.filler3 {
    width: 40%;
}
.filler4 {
    width: 60%;
}
.ratings-score{
    display: flex;
    justify-content: space-between;
}

/* main section */

.categories {
    display: flex;
}
.category:nth-child(3){
    background-color: var(--clr-dark-blue);
    color: white;
}

.category {
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 5px;
    background-color: var(--clr-very-light-blue);
    cursor: pointer;
}
.category:hover {
    background-color: var(--clr-dark-blue);
    color: white;
}
.category + .category {
    margin-left: 1.2rem;
}
.content {
    margin-top: 4rem;
}
.content-top{
    display: flex;
}
.article-container {
    width: 60%;
}
.articles{
    display: flex;
    margin-top: 1rem;

}
.theme-chats {
    width: 33%;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.article-one {
    width: 67%;
    padding: 1rem;
    background-color: var(--clr-very-light-blue);
    border-radius: 10px;
}
.article-two {
    width: 33%;
    margin-left: 1rem;
    padding: 1rem;
    background-color: var(--clr-very-light-blue);
    border-radius: 10px;
}
.article-title{
    font-size: 1.3rem;
}
.article-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}
.article-timing{
    display: flex;
    background-color: #dcddf3;
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
}
.time{
    width: 16px;
}
.globe {
    width: 60px;
}
.article-img {
    width: 40px;
    border-radius: 5px;
    margin-right: 0.8rem;
}
.article-details{
    display: flex;
    padding-top: 3rem;
}
.article-author, .article-date {
    font-size: 0.8rem;
}
.article-date {
    margin-top: 0.5rem;
}
.content2 {
    height: 114px;
}
.content-category{
    font-size: 1.3rem;
}
.content-category span {
    color: var(--clr-dark-blue);
}
.theme {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.theme-content {
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-very-light-blue);
    border-radius: 10px;
}
.theme-img {
    width: 103px;
}
.theme-title {
    font-size: 0.9rem;
}

.content-bottom {
    padding-top: 3rem;
    display: flex;
}

.bottom-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.video{
    width: 60%;
}

.video-content {
    display: flex;
    margin-top: 1rem;

}
.video-one {
    width: 67%;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 350px;
    background-color: var(--clr-dark-blue);
    color: white;
    position: relative;
}
.first,.second,.third {
    position: absolute;
    z-index: 4;
}

.first{
    top: 0;
    right: 6rem;
    height:100%;
    width: 50px;
    background-color: #4e54d2;
}
.second{
    top: 0;
    right: 3rem;
    height:100%;
    width: 50px;
    background-color: #4249d1;
}
.third{
    top: 0;
    right: 0;
    height:100%;
    width: 50px;
    background-color: #383fbb;
}

.video-two{
    width: 33%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.video-profile{
    display: flex;

}
.video-container{
    display: flex;
    justify-content: space-between;
    z-index: 5;
    position: relative;
}
.teachers{
    width: 33%;
    margin-left: 2.5rem;

}
.video-two-top, .video-two-bottom{
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--clr-dark-blue);
    color: white;

}
.video-sec-profile{
    display: flex;
    align-items: center;
}
.video-img{
    width: 40px;
    border-radius: 5px;
    margin-right: 0.8rem;
}
.video-time {
    background-color: rgba(0, 0, 0, 0.527);
    padding: 0.3rem 0.6rem;
    border-radius: 10px;
}
.video-title{
    font-size: 0.9rem;
}
.video-author{
    font-size: 0.8rem;
}
.video-author-title{
    color: #8f94ec;
    margin-top: 0.5rem;
}
.teacher {
    display: flex;
    padding: 0.5rem 0;
    align-items: center;
    justify-content: space-between;
}
.teachers-profile-wrapper{
    display: flex;
    align-items: center;

}
.teachers-img {
    width: 80px;
    border-radius: 100%;
}
.teachers-name, .teachers-rating{
    color: var(--clr-dark-blue);
}
.teachers-yoe{
    color: #8f94ec;
    margin-top: 0.5rem;
}
.teachers-profile{
    margin-left: 1rem;
}
